<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.11.2" targetFramework="net451" />
  <package id="jQuery.BlockUI" version="2.70" targetFramework="net451" />
  <package id="jQuery.Form" version="3.51" targetFramework="net451" />
  <package id="jQuery.Migrate" version="1.2.1" targetFramework="net451" />
  <package id="jQuery.Validation" version="1.13.1" targetFramework="net451" />
  <package id="json2" version="1.0.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net451" />
</packages>